<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         convertErrorsToExceptions="true"
         convertWarningsToExceptions="true"
         convertNoticesToExceptions="true"
         mapTestClassNameToCoveredClassName="true"
         strict="true"
         verbose="true"
         colors="true"
         timeoutForLargeTests="100">

    <testsuites>
        <testsuite name="PHPIDS">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <directory suffix=".php">lib/IDS/vendors</directory>
            <directory suffix=".php">tests/</directory>
        </blacklist>
    </filter>

    <php>
    </php>
</phpunit>
